.ulth {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.ulth li {
    float: left;
    flex: 1;
}

.hov {
    padding: 10px;
    border-bottom: 2px solid #f0f0f0
}

.hov:hover {
    background: #f0f0f0;
}