
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1496123007732'); /* IE9*/
  src: url('iconfont.eot?t=1496123007732#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1496123007732') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1496123007732') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1496123007732#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dingdan:before { content: "\e622"; }

.icon-jikediancanicon45:before { content: "\e79c"; }

.icon-pinglun:before { content: "\e63c"; }

.icon-caidan:before { content: "\e640"; }

.icon-yiban:before { content: "\e607"; }

.icon-mima-copy:before { content: "\e609"; }

.icon-untitled:before { content: "\e642"; }

.icon-pinglunguanli:before { content: "\e6d5"; }

.icon-lingdang:before { content: "\e631"; }

.icon-dingdanguanli:before { content: "\e65c"; }

.icon-henyiban:before { content: "\e63f"; }

.icon-xiaolian:before { content: "\e63d"; }

